<!-- <div class="row top-offset justify-content-center">
    <div class="col-md-10 md-offset-1">

        <div class="row">

            <div class="col-md-3">
                <div class="row justify-content-center">
                    <div class="box-interests">
                        <i class="la la-trophy"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row justify-content-center">
                    <div class="box-interests">
                        <i class="la la-globe"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row justify-content-center">
                    <div class="box-interests">
                        <i class="la la-check-circle"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row justify-content-center">
                    <div class="box-interests">
                        <i class="la la-anchor"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr> -->

