h1, h2, h3, h4, h5 {
    color: #6a1a1a;
}

.top-offset {
    margin-top: 60px;
}

.box-interests {
    margin: 8px;
    border: 8px solid #6a1a1a;;
    width: 260px;
    height: 260px;
    text-align: center;
}

.box-interests i {
    font-size: 200px;
    padding-top: 22px;
    color: #6a1a1a;
}

.calendar-section {
    background-color: #fefbf9;
}